.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}

.form fieldset {
  display: grid;
  grid-auto-flow: row;
  margin: 0;
  border: none;
  padding: 0;
}

.form form > .field-wrapper + .field-wrapper,
.form form fieldset .field-wrapper + .field-wrapper {
  margin-top: 24px;
}

.form form > .selection-wrapper + .selection-wrapper,
.form form fieldset .selection-wrapper + .selection-wrapper {
  margin-top: 0.25em;
}
.section.two-col-form h2{
  font-size: 2.08333vw;
    color: #cf2230;
    font-family: GillSans-SemiBold;;
    text-align: center;
}
@media (width >= 600px) {
  .form fieldset {
    grid-template-columns: repeat(2, auto);
    gap: 0.25em 24px;
  }

  .form form > .selection-wrapper + .selection-wrapper,
  .form form fieldset .field-wrapper + .field-wrapper,
  .form form fieldset .selection-wrapper + .selection-wrapper {
    margin-top: 0;
  }
}

@media (width >= 992px) {
  .form fieldset {
    grid-template-columns: repeat(3, auto);
  }
  .section.two-col-form.form-container {
    max-width: 1700px;
    margin: 0 auto;
    width: 66.66667%;
}
  .section.two-col-form.form-container  form{
    display: flex;
    flex-wrap: wrap;
  }
  .section.two-col-form.form-container  .form .field-wrapper {
    display: block;
    width: 50%;
    margin-top:30px;
    padding: 0;    
  }  
  .section.two-col-form.form-container  .form .field-wrapper.form-submit {
    width: 100%;
  }
  .section.two-col-form.form-container  .form .field-wrapper.form-checkbox-wrapper{
    width: 100%;
 }
}

.form label,
.form fieldset > legend {
  margin-bottom: 0.25em;
  font-size: var(--body-font-size-s);
  font-weight: 700;
}

.form .selection-wrapper label {
  margin: 0;
  font-weight: normal;
}

.form input,
.form select,
.form textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  transition: border-color 0.2s;
}

.form textarea {
  resize: vertical;
}

.form input:hover,
.form select:hover,
.form textarea:hover {
  border: 1px solid var(--text-color);
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.form .selection-wrapper input {
  width: max-content;
}

@media (width >= 600px) {
  .form .button {
    max-width: max-content;
  }
}

@media (width >= 991px) {
  .form input,
  .form select,
  .form textarea {
    max-width: 33vw;
  }
}

.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 1ch;
}

.form .field-wrapper[data-required] label::after {
  content: '*';
  color: firebrick;
  margin-inline-start: 0.5ch;
}
.form .form-checkbox-wrapper.field-wrapper[data-required] label::after {
  content: none;
}

.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.form .toggle-wrapper input {
  opacity: 0;
  width: 52px;
  height: 28px;
}

.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 28px;
  background-color: var(--dark-color);
  transition: background-color 0.2s;
}

.form .toggle-wrapper .slider::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: transform 0.2s;
}

.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.form .toggle-wrapper input:focus + .slider {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(24px);
}

.section.two-col-form.form-container  .form label{
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-family: GillSans-medium;
  font-weight: normal;
  margin-bottom: 8px;
}
.section.two-col-form.form-container .form input {
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  padding: 0;
  height: 35px;
  color: #000;
  font-size: 14px;
  line-height: 22px;  
}
.section.two-col-form.form-container .form input:focus {
  outline: none;
  outline-offset: 0;
}
.section.two-col-form.form-container .form input::-webkit-input-placeholder {
  color: #6e6e6e;
}
.section.two-col-form.form-container .form .form-checkbox-wrapper input {
  position: absolute;
  left: 15px;
  top: 2px;
  width: 17px;
  height: 17px;
}
.section.two-col-form.form-container .form .field-wrapper {
  padding: 0 15px;
  position: relative;
  display: block;
}
.section.two-col-form.form-container .form .field-wrapper.form-privacy {
  margin-top: 15px;
}
.section.two-col-form.form-container .form .form-checkbox-wrapper label {
  width: 100%;
  padding-left: 30px;
  font-size: 12px;
  line-height: 18px;
  font-family: GillSans-regular;
}
.form-submit {
  width: 100%;
  text-align: center;
}
.form-submit .btn {
  background-color: #cf2230;
  padding: .52083vw 1.5625vw;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 500;
  font-family: roboto-medium;
  transition: all 1s linear;
}
.form-submit .btn:hover, .form-submit .btn:active, .form-submit .btn:focus {
  background-color: #000;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url('../../files/calendar_icon.png') no-repeat;
  width: 20px;
  height: 20px;
  background-position: 95% 50%;
  background-size: 20px;
  background-position: 95% 50%;
}
@media (min-width:1024px){
  .form-submit .btn{
    font-size:1.04167vw;
  }
}

@media (max-width: 991px) {
  .section.two-col-form.form-container {
    width: 85%;
    margin: 40px auto;
  }
}

@media (max-width: 767px) {
      .section.two-col-form.form-container {
        width: 100%;
      }
      .section.two-col-form h2, .tab-section h2{
        padding-bottom: 11.11111vw;
            font-size: 7.22222vw ;
      }
      .emi-calculator .columns > div > div > p:first-child{
        font-size: 5vw;
         
      }
      .emi-calculator .columns > div > div > h4{
      font-size: 6.66667vw;
      padding-top: 4.44444vw;
      }
      .emi-calculator .columns > div > div:last-child  p{
        font-size: 6.66667vw;
      }
      .emi-calculator .columns > div > div:last-child  h3{
        font-size: 7.77778vw;
      }
      .emi-calculator .columns {
        width: 100%;
      }
      .form-submit .btn{
        border-radius: 3px;
        font-size: 14px;
        padding: 5px 10px;
  }
}


/* Test Drive form */
.section.two-col-form.test-drive-form {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  margin-bottom:60px;
}
.section.two-col-form.test-drive-form > div{
  padding-inline: 12px;
  max-width: 100%;
  margin: 0;
}
.test-drive-form {
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.test-drive-form div:nth-child(1){
  grid-column: 2/3;
  grid-row: 1/2;
}
.test-drive-form div:nth-child(2){
  grid-column: 1/2;
  grid-row: 2/3;

}
.test-drive-form div:nth-child(3){
  display: none;
}
.test-drive-form div:nth-child(4){
  grid-column: 2/3; 
  grid-row: 2/3;
}
.test-drive-form div:nth-child(5){
  grid-column: 2/4;
  grid-row: 3/4;
}
.test-drive-form div:nth-child(6){
  grid-column: 2/4;
  grid-row: 5/6;
}
.test-drive-form .columns-wrapper .testdrive-formtext div div h2{
 text-align: left;
 font-weight: 500;
 margin-bottom: 20px;

}
.test-drive-form .columns-wrapper .testdrive-formtext div div h2 + p{
  font-family: roboto;
  font-size: 1.042vw;
  margin:0;
 }

.test-drive-form div:nth-child(5) .columns div div > p , .test-drive-form div:nth-child(3) .columns div div > p , .test-drive-form div:nth-child(4) .columns-wrapper .columns div div > p {
  display: flex;
  align-items: center;
  gap: 30px; 
  border-bottom: 2px solid #afc2e3; 
  padding-bottom: 20px;
  margin-top: 48px;
  font-family: GillSans-regular;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom:0;
  
}
.test-drive-form .columns-wrapper .columns div div p span svg{
  width: 40.3px;
  height: 29.29px;
}
.test-drive-form .form-wrapper .form div div p{
  margin-block:0;
}
/* form */
.test-drive-form div:nth-child(6) .form-select-wrapper select{
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  border: none;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
  outline: none;
  width: 100%;
  height: 35px;
  background: url('../../icons/chevron_right.svg') no-repeat 100%, #fff;
  background-size: 30px 8px !important;
  padding-right: 30px;
  font-size:14px;
  color: #131313;
  font-family:roboto;
}
.section.two-col-form.test-drive-form div:nth-child(6)  .form .field-wrapper{
  padding-right: 30px;
} 
.section.two-col-form.test-drive-form .form .field-wrapper{
  padding-inline: 0;
}
.section.two-col-form.test-drive-form .form label {
  font-family: GillSans-regular;
  font-size: 1pc;
  margin-bottom: 0.5rem;
}
.section.two-col-form.test-drive-form .form .form-checkbox-wrapper input{
left: 0;
}
.section.two-col-form.test-drive-form .form .field-wrapper.form-authorise {
  margin-top: 10px;
}
.section.two-col-form.test-drive-form .form .field-wrapper.form-privacy {
  margin-top: 10px;
  display: none;
}
.section.two-col-form.test-drive-form .form .form-submit{
text-align: left;
}
/* OTP */
.section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper legend {
  font-size: 1pc;
  font-family: GillSans-regular;
  width: 100%;
  font-weight: normal;
}
.section.two-col-form.test-drive-form .form div div p form {
  position: relative;
}
.section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper{
  display: flex;
  margin: 30px 0 30px 0;
  width: 50%;
}
.section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::before {
  content: 'Get OTP';
  display: inline-block;
  padding: 4px 10px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #6e6e6e;
  border-radius: 6px;
  cursor: pointer;
  font-size: .833vw;
  font-family: roboto-medium;
  position: absolute;
  right: -28%;
  top: 50%;
  transform: translateY(-50%);

}
.section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::after {
  content: 'OTP will be sent on both mobile and email';  
  display: inline-block;
  position: absolute;
  left: 131%;
  top: 0;
  margin-top: 13px;
  font-size: 11px;
  color: #6e6e6e;
  width: 100%;
}
.section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper > div.field-wrapper{
  margin-top: 0;
}
@media (max-width: 1200px) {
  .section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::after {
    left: 145%;  
  }
  .section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::before {
    right: -40%;
  }

}

@media (max-width: 991px) {
  .section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::before {
    font-size: 1.613vw;
  }
.test-drive-form .form-wrapper .form{
    margin-top:30px;
  }
  .test-drive-form {
    display:block;
  }
  .test-drive-form div:nth-child(3){
    display: block;
  
  }
  .test-drive-form .columns-wrapper .testdrive-formtext div div h2{
    padding-bottom: 0;
   }
   .test-drive-form div:nth-child(4) .columns-wrapper{
    display: none;
   }
   .test-drive-form .columns-wrapper .testdrive-formtext div div h2{
    font-size: 4.036vw;
  }
  .test-drive-form .columns-wrapper .testdrive-formtext div div h2 + p{
    font-size: 2.018vw;
  } 
    /* otp */
  .section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper{
    width: 70%;
    margin-bottom: 60px;
  }
  .section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::before {
    right: -30%;
  }

  .section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::after {
    left:50%;
    display: block;
    top: 120%;
    padding-bottom: 60px;
  }

}
@media (max-width: 768px) {
  .test-drive-form .columns-wrapper .testdrive-formtext div div h2{
    font-size: 27px;
  }
  .section.two-col-form.test-drive-form .form div div p form fieldset.field-wrapper::before {
    font-size: 2.778vw;
  }
  .test-drive-form .columns-wrapper .testdrive-formtext div div h2 + p{
    font-size: 15.533px;
  }
  .test-drive-form div:nth-child(5) .columns div div > p , .test-drive-form div:nth-child(3) .columns div div > p , .test-drive-form div:nth-child(4) .columns-wrapper .columns div div > p {
    margin-top: 30px;
  } 
  .section.two-col-form.test-drive-form .form .form-submit{
    text-align: center;
 
    }
    .section.two-col-form.test-drive-form .form .form-submit .btn{
      border-radius: 3px;
      font-size: 14px;
      padding: 5px 10px;
    }

}

/* form conatiner query */
@media (min-width: 576px) {
  main > .section.two-col-form.test-drive-form{
      max-width: 540px;
  }
}
@media (min-width: 768px) {
  main > .section.two-col-form.test-drive-form{
      max-width: 45pc;
  }

}
@media (min-width: 992px) {
  main > .section.two-col-form.test-drive-form{
      max-width: 60pc;
  }
}
@media (min-width: 1200px) {
  main > .section.two-col-form.test-drive-form{
      max-width: 855pt;
  }
}
@media (min-width: 1500px) {
  main > .section.two-col-form.test-drive-form{
      max-width: 975pt;
  }
}

@media (max-width: 991px) {
  .section.two-col-form h2{
    font-size: 3.02725vw;
  }
}


